<!DOCTYPE html>
<html>
    <head>
        <title>Administration Console</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="{{ url_for('login', next=next_page) }}" method="POST">
            <input name="next" type="hidden" value="{{ next_page }}">
            <table>
                <tbody>
                    <tr>
                        <td><label for="usernameInput">Username:</label></td>
                        <td><input name="username" type="text" id="usernameInput" value="{{ form.username }}"></td>
                    </tr>
                    <tr>
                        <td><label for="passwordInput">Password:</label></td>
                        <td><input name="password" type="password" id="passwordInput" value="{{ form.password }}"></td>
                    </tr>
                    {% if error %}
                        <tr>
                            <td colspan="2" style="color:red">Invalid username and/or password.</td>
                        </tr>
                    {% endif %}
                    <tr><td><br></td></tr>
                    <tr>
                        <td><input type="submit" value="Login"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>